# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# MATLAB temporary outputs 
*.m~  # sometimes MATLAB autosaves temp files
*.asv # MATLAB autosave files

# Ignore MATLAB output files in notebooks
notebooks/**/*.mat

# OS-specific files
.DS_Store
Thumbs.db

# Archive or backup folders you don’t want to track
archive/
